apiVersion: 1

datasources:
  - name: Replychat Prometheus
    uid: replychat-prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    jsonData:
      timeInterval: 15s
